header {
  .site-banner {
    display: flex;
    position: relative;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: height 600ms;

    &__wrapper {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2rem;
    }

    &__title {
      min-width: 100%;
      margin: 0 auto;
      font-size: 2rem;
      font-weight: 400;
      transition: all 600ms;

      a {
        position: relative;
        color: #f6f6f6;
        text-shadow: 1px 1px 4px #000;

        // &:before {
        //   content: attr(data-text);
        //   position: absolute;
        //   left: -2px;
        //   text-shadow: 1px 0 inherit;
        //   top: 0;
        //   color: inherit;
        //   background: inherit;
        //   overflow: hidden;
        //   clip: rect(0, 900px, 0, 0);
        //   height: 100%;
        //   animation: noise-anim-2 3s infinite linear alternate-reverse;
        // }
        // &:after {
        //   content: attr(data-text);
        //   position: absolute;
        //   height: 100%;
        //   left: 2px;
        //   text-shadow: -1px 0 inherit;
        //   top: 0;
        //   color: inherit;
        //   background: inherit;
        //   overflow: hidden;
        //   clip: rect(0, 900px, 0, 0);
        //   animation: noise-anim 2s infinite linear alternate-reverse;
        // }
      }
    }
  }
  .site-nav {
    display: flex;
    align-items: center;
    position: relative;
    height: 46px;
    background-color: #252626;
    z-index: 999;

    .button-toggle {
      display: flex;
      align-items: center;
      position: relative;
      height: 24px;
      width: 24px;
      margin-left: 20px;

      span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        opacity: 1;
        transition: opacity 0.3s ease 0s;
        z-index: 20;
      }

      &:before, &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        content: "";
        transition: transform 0.3s ease 0s;
      }
      &:before {
        top: 2px;
        transform-origin: 100% 0;
      }
      &:after {
        bottom: 2px;
        transform-origin: 100%;
      }
    }
  }
  .nav-item {
    display: inline-block;
    color: white;
    line-height: 46px;
    a {
      display: block;
      padding: 0 20px;
      color: #fff;
      letter-spacing: 1.5px;
      &:hover {
        background-color: #444;
      }
    }
    a[data-text="resume"] {
      color: #fee;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
      animation: blink linear infinite 2s;
    }
  }

  &:before {
    position: fixed;
    top: 46px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s;
    z-index: 9;
  }

  form#search-form {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    color: initial;

    .trigger-btn {
      position: absolute;
      top: 11px;
      right: 4px;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      z-index: -1;
      font-size: 1.4em;
      color: white;
    }

    input {
      height: 32px;
      width: 0;
      padding: 0 16px;
      border: none;
      border-radius: 16px;
      background-color: white;
      transition: width 300ms, opacity 300ms;
      outline: none;
      opacity: 0;

      &:focus {
        width: 150px;
        padding-right: 32px;
        opacity: 1;
      }
    }

    #local-search-reset {
      display: none;
      position: absolute;
      top: 1em;
      right: .5em;
      width: 1em;
      height: 1em;
      font-size: 1em;
      cursor: pointer;
    }

    &.searching {
      input {
        width: 150px;
        padding-right: 32px;
        opacity: 1;
      }
    }
  }

  div#local-search-result {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    max-height: 600px;
    background-color: #252626;
    color: #ccc;
    z-index: 999;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      overflow: auto;

      a.search-result-title {
        display: block;
        padding-left: .5em;
        color: #ccc;
        background-color: #4a4738;
        font-weight: bold;
        line-height: 2em;
      }

      p.search-result {
        line-height: 1.2rem;
        max-height: 3.6rem;
        font-size: 0.85rem;
        color: #999;
        margin: 1em;
        overflow: hidden;

        em.search-keyword {
          color: #e5bd4e;
          text-decoration: underline;
        }
      }
      &:hover {
        background-color: #444
      }
    }
  }
}
