@media screen and (min-width: 1024px) {
  .content {
    float: left;
    width: 65.3062%;
    margin: 0;
  }
  .sidebar {
    float: right;
    width: 30.6123%;
  }
}

@media screen and (min-width: 801px) {
  .button-toggle {
    display: none !important;
  }
}

@media screen and (max-width: 1160px) {
  body {
    margin: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }

  .site-banner {
    display: none !important;
  }
  .site-nav .nav-list {
    position: fixed;
    top: 46px;
    left: -200px;
    bottom: 0;
    width: 200px;
    background: #222;
    z-index: 999;
    transition: left .5s;
    .nav-item {
      display: block;
    }
  }
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 360px) {
}
