extends partial/layout

block site_title
  != __('archive') + " | " + config.title

block header
  include partial/header

block content
  include mixins/post
  +postList()

block sidebar
  include partial/sidebar

block pagination
  include mixins/paginator
  +home()

block copyright
  include partial/footer
