doctype
html(lang=config.language)
  head
    include head
  body(class={ 'is-home': false })
    header
      block header
    .main
      div.content
        block content
        block pagination
      div.sidebar
        block sidebar
    footer
      block copyright
    a.scroll-up
      span.icon.icon-up
    include scripts
